
<!--
HTML page that display the response for form page
-->


<body class="text-center">
    <div class="container mt-5">
        <h1 class="mb-3">You Are:</h1>
        <h1>
            {{whole_title}}
        </h1>
        <div>
            <p class="characters">
                {{title}} is {{title_length}} characters.<br>
                {{favorite_drink}} is {{drink_length}} characters.<br>
                {{pet_name}} is {{pet_length}} characters.<br>
                {{fictional_place}} is {{fictional_place_length}} characters.<br>
                {{real_place}} is {{real_place_length}} characters.<br>
                your whole title is {{total_length}} characters long.<br>
            </p>
        </div>
        <p class="characters">
           {{titleMessage}} 
        </p>
    </div>

</body>
